.first-section{
    position: relative;
    width: 100%;
    height: 765px;
    background-image: url(../resources/developer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
} 

.description{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
}

.description-text{
    margin-bottom: 30px;
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.greeting-text{
    width: 919px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -0.038em;
    color: #1BFF07;
}


@media (max-width: 1149px) {
    .greeting-text{
        width: 727px;
        font-size: 60px;
        line-height: 70px; 
    }
}



@media (max-width: 767px) {
    .greeting-text{
        width: 100%;
        font-size: 40px;
        line-height: 47px;
    }

    .description-text{
        width: 100%;
        font-size: 15px;
        line-height: 20px;
    }

    .first-section{
        height: 717px;
    }
}
