.services-image{
    width: 100%;
    border-radius: 30px;
}


.services-item{
    margin-bottom: 40px;
    position: relative;
}

.services{
    margin-bottom: 140px;
}

.services-title{
    margin-bottom: 79px;
    padding-top: 148px;
    width: 100%;
}

.image-description{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: auto;
    background: #191C19;
    border-radius: 30px;
}

.services-subtitle{
    width: 50%;
    display: block;
    font-weight: 400;
    font-size: 55px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #1BFF07;
}

.services-description{
    width: 50%;
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

@media (max-width: 1149px) {
    .services-title{
        width: 100%;
    }
    .image-description{
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .services{
        margin-bottom: 100px;
    }
    .image-description{
        flex-direction: column;
        height: auto;
    }
    .services-subtitle{
        width: 100%;
        font-size: 35px;
        line-height: 39px;  
    }
    .services-description{
        width: 100%;
        font-size: 18px;
        line-height: 23px;
    }
    .services-title{
        padding-top: 0;
    }
}
