body{
    width: 100%;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    scroll-behavior: smooth;
}
.first-section{
    max-width: 1400px;
    height: 765px;
    background-image: url("/resources/first-image.png");
    background-repeat:repeat;
    background-position: cover;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
}
.nav-section{
    max-width: 1150px;
    height: 100px;
    padding-top: 32px;
    margin-bottom: 235px;
}
.logo{
    display: inline-block;
    padding-top: 2px;
}
.logo-container{
    display: block;
    width: 130px;
    background: #000000;
    border-radius: 100px;
}
.logo-name{
    padding-left: 9px;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    color: #1BFF07;
}
.nav-links{
    display: inline-block;
    float: right;
}
.nav-link{
    margin-right: 42px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.nav-link:last-child{
    margin-right: 0;
}
.nav-link:hover{
    color: #1BFF07;
}
.description{
    margin-bottom: 29px;
    width: 430px;
    height: 103px;
}
.description-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.greeting{
    width: 919px;
    height: 205px;
    margin-bottom: 94px;
}
.greeting-text{
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -0.04em;
    color: #1BFF07;
}
.black-container{
    width: 100%;
    background: #000000;
}
.projects-title{
    padding-top: 150px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.project-item{
    position: relative;
    width: 1150px;
    height: 550px;
}

.project-name{
    position: absolute;
    display: block;
    text-decoration: none;
    left: 25px;
    top: 205px;
    bottom: 94px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.project-description{
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.see-all-projects{
    display: block;
    padding-top: 80px;
    padding-bottom: 150px;
}
.all-projects-btn{
    display: inline-block;
    padding-top: 56px;
    width: 582px;
    height: 153px;
    border: 1px solid #1BFF07;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.03em;
    color: #000000;
    background: #1BFF07;
}
.all-projects-btn:hover{
    color: #1BFF07;
    background-color: #000000;
}
.my-competencies-section{
    margin-bottom: 150px;
}
.my-competencies-title{
    margin-bottom: 104px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.competencies-item{
    margin-bottom: 120px;
}
.competencies-first{
    position: relative;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #1BFF07;
}
.competencies-first:after{
    position: absolute;
    top: -55px;
    display: block;
    content: '';
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url("../resources/first-mini-icon.jpg");
}
.competencies-text{
    margin-top: 15px;
    width: 778px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.competencies-second{
    position: relative;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #1BFF07;
}
.competencies-second:after{
    position: absolute;
    top: -59px;
    display: block;
    content: '';
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url("../resources/second-mini-icon.png");
}
.competencies-third{
    position: relative;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.035em;
    color: #1BFF07;
}
.competencies-third:after{
    position: absolute;
    top: -59px;
    display: block;
    content: '';
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url("../resources/third-mini-icon.png");
}
.competencies-fourth{
    position: relative;
    width: 651px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #1BFF07;
}
.competencies-fourth:after{
    position: absolute;
    top: -59px;
    display: block;
    content: '';
    width: 45px;
    height: 44px;
    border-radius: 10px;
    background-image: url("../resources/fourth-mini-icon.jpg");
}
.task-examples-title{
    width: 403px;
    margin-bottom: 74px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.example-block{
    width: 1150px;
    height: 283px;
    border-radius: 30px;
    background: #191C19;
}
.example-image{
    border-radius: 30px;
}
.example-name{
    padding-top: 39px;
    padding-left: 40px;
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1BFF07;
}
.example-description{
    padding-left: 40px;
    width: 749px;
    font-weight: 400;
    font-size: 22px;
    line-height:31px;
    letter-spacing: -0.035em;
    color: #FFFFFF;
}
.example-item{
    margin-bottom: 71px;
}
.example-item:last-child{
    margin-top: 137px;
}
.task-examples{
   padding-bottom: 73px;
}
.contacts-section{
    margin-bottom: 149px;
    width: 100%;
    height: 717px;
    background: #191C19;
    border-radius: 30px;
}
.background-developer{
    background-position: right;
    background-image: url("../resources/developper.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.for-communication{
    padding-top: 320px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.contact-link{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.contact-link:hover{
    color: #1BFF07;
}
.white-section{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 30px;
}
.portfolio-end{
    margin-bottom: 66px;
    padding-top: 79px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
}
.rights{
    padding-bottom: 20px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
}