@import url(header.css);
@import url(description.css);
@import url(projects.css);
@import url(competencies.css);
@import url(services.css);
@import url(form.css);
@import url(footer.css);
@import url(burger.css);

body{
    width: 100%;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    scroll-behavior: smooth;
    background: #000;
}

.container{
    margin: 0 auto;
    max-width: 1150px;
}

h2{
    padding-top: 150px;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 55px;
    line-height: 72px;
    letter-spacing: -0.036em;
    color: #FFFFFF;
}



@media (max-width: 1149px) {
    .container{
        width: 100%;
        padding-left: 13px;
        padding-right: 13px;
    }

    h2{
        width: 100%;
        font-weight: 400;
        font-size: 45px;
        line-height: 58px;
        letter-spacing: -0.03em;
    }
}

@media (max-width: 767px) {
    h2{
        width: 100%;
        padding-top: 100px;
        font-size: 30px;
        line-height: 39px;  
    }
}
