.gallery{
  margin: 0 auto;
  position: relative;
  height: 716px;
  width: 100%;
  margin-bottom: 150px;
}

.gallery__title{
  top: 60px;
  z-index: 100;
  max-width: 100%;
  position: absolute;
  display: block;
  font-size: 22px;
  line-height: 30px;
  color: white;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}  

.gallery__slides{
  height: 100%;
  position: relative;
}

.gallery__slide{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.gallery__slide_active{
  opacity: 1;
}

.slide__description{
  position: absolute;
  bottom: 60px;
  z-index: 100;
  font-size: 30px;
  line-height: 41px;
  max-width: 443px;
  height: 82px;
  letter-spacing: -0.03em;
  color: white;
}

.slide__image{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__controls{
  position: absolute;
  left: auto;
  bottom: 190px;
  z-index: 100;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 55px;
}

.gallery__control-prev,
.gallery__control-next{
  display: block;
  height: 60px;
  width: 60px;
  background: url(../resources/prev.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  border: 0;
  cursor: pointer;
}

.gallery__control-prev:hover,
.gallery__control-next:hover{
  opacity: 0.5;
}

.gallery__control-next{
  transform: rotate(180deg);
}


@media (max-width: 1199px){
  .gallery {
    height: 536px;
    margin-bottom: 121px;
  }

  .gallery__title {
    top: 80px;
    font-size: 20px;
    line-height: 27px;
  }

  .slide__description {
    bottom: 30px;
    font-size: 25px;
    line-height: 34px;
    max-width: 375px;
    height: 68px;
  }

  .gallery__controls {
    max-width: 100%;
    bottom: 180px;
    gap: 45px;
  }
  .gallery__control-prev,
  .gallery__control-next{
    height: 50px;
    display: block;
    width: 70px;
  }
}
  
@media (max-width: 767px) {
  .gallery {
    height: 408px;
    margin-bottom: 81px;
  }
  .gallery__title {
    font-size: 14px;
    line-height: 19px;
    top: 61px;
  }
  .slide__description {
    bottom: 15px;
    font-size: 17px;
    line-height: 19px;
    max-width: 285px;
    height: 68px;
  }
  .gallery__controls {
    bottom: 40%;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .gallery__control-prev,
  .gallery__control-next{
    height: 50px;
    display: block;
    width: 70px;
  }
    .gallery__control-prev:hover,
    .gallery__control-next:hover{
    opacity: 0.5;
  }
}
