.header{
    margin-top: 28px;
    margin-bottom: 65px;
}

.header-inner{
    height: 35px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-list{
    display: flex;
    gap: 40px;
}

.nav__link{
    display: block;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #121212;
}

.nav__link:hover{
    opacity: 0.5;
    border-bottom: 1px solid #121212;
} 

@media (max-width: 1199px){
    .nav{
        display: none;
    }

    .header{
        margin-top: 31px;
        padding-bottom-bottom: 40px;
    }

}

