body{
    margin: 0 auto;
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
/* .logo{
    display: inline-block;
}
.nav-section{
    margin-top: 32px;
    margin-bottom: 70px;
}
.nav-links{
    display: inline-block;
    float: right;
}
.nav-link{
font-size: 18px;
line-height: 25px;
letter-spacing: -0.03em;
text-transform: uppercase;
text-decoration: none;
color: #121212;
margin-right: 60px;
}
.nav-link:last-child{
    margin-right: 0;
}
.nav-link:hover{
    opacity: 0.5;
    border-bottom: 1px solid #121212;
} */
.title{
    width: 956px;
    margin-bottom: 30px;
    font-size: 60px;
    letter-spacing: -0.03em;
    line-height: 60px;
    color: #121212;
} 
.chair-img{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('../resources/chair.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.chair-text{
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    color: white;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -.03em;
}
.first-section{
    margin-bottom: 150px;
}
.about-us-title{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
}
.about-us-text{
    width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;  
    color: #000000;
}
.about-us-button{
    display: inline-block;
    margin-bottom: 150px;
    padding-top: 20px;
    padding-left: 40px;
    width: 255px;
    height: 67px;
    background: #AD1818;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
}
.projects-title{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px; 
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
}
.project-item{
    margin-bottom: 88px;
}
.project-image{
    width: 1150px;
    height: 450px;
}
.project-name{
    margin-top: 15px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}
.projects-link-more{
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color: #ad1818;
}
.see-all-projects-btn{
    display: inline-block;
    margin-bottom: 150px;
    padding-top: 56px;
    width: 100%;
    height: 153px;
    border-radius: 5px;
    border: 1px solid #AD1818;
    text-decoration: none;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ad1818;
}
.see-all-projects-btn:hover{
    background: #AD1818;
    color: #fff;
}
.services-wrapper{
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
 .services{
    background: #121212;
    width: 100%;
    height: auto;
    padding-bottom: 150px;
}
.services-title{
    font-size: 18px;
    margin-bottom: 34px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: white;
    padding-top: 150px;
}
.service-item{
    width: 570px;
    position: relative;
}
.service-image{
    height: 389px;
}
.service-name{
    width: 300px;
    height: 140px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-top: 24px;
    letter-spacing: -0.03em;
} 
.price{
    position: absolute;
    top: 31px;
    left: 30px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    background: #AD1818;
    border-radius: 5px;
}
.service-button{
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    line-height: 153px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #AD1818;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.03em;
}
.review{
    padding-top: 150px;
}
.review-title{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.review-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.review-item{
    width: 550px;
}
.review-name{
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #000000;
}
.review-text{
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;
}
.review-big{
    width: 862px;
}
/* .bedroom-container{
    margin-bottom: 150px;
    position: relative;
    height: 717px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url('../resources/bed.png');
}
.bedroom{
    width: 100%;
    margin: 0 auto;
}
.bedroom-text{
    position: absolute;
    width: 443px;
    bottom: 60px;
    left: 125px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.contacts-title{
    position: relative;
    margin-top: 186px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
}
.contacts-title::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 25px;
    margin-bottom:12px;
    margin-left: -4px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/phone-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.number{
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #121212;
    width: 470px;
}
.mail{
    margin-bottom: 150px;
    display: inline-block;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px; 
    letter-spacing: -0.03em;
    color: #121212;
    opacity: 0.5;
    border-bottom: 2px solid #121212;
}
.footer{
    background: #121212;
    width: 100%;
    text-align: center;
}
.footer-link{
    display: inline-block;
    padding-top: 66px;
    padding-bottom: 87px;
    text-decoration: none;
    margin-right: 55px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-link:last-child{
    margin-right: 0;
}
.footer-link:hover{
    opacity: 0.5;
}
.end{
    padding-bottom: 30px;
    font-size: 20px;
line-height: 27px;
letter-spacing: -0.03em;
opacity: 0.5;
color: #fff;
} */ 

@media (max-width: 1199px) {
    .container{
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
    .title{
        width: 100%;
        font-size: 50px;
        line-height: 60px
    }
    .chair-img{
        height: 400px;
    }
    .chair-text{
        width: 430px;
        font-size: 20px;
        line-height: 27px;
        bottom: 30px;
    }
    .about-us-title{
        font-size: 18px;
        line-height: 25px;
    }
    .first-section{
        margin-bottom: 120px;
    }
    .about-us-text{
        width: 100%;
        font-size: 35px;
        line-height: 48px;
    }
    .about-us-button{
        padding-left: 40px;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 27px;
    }
    .about-us{
        margin-bottom: 120px;
    }
    .projects-title{
        font-size: 18px;
        line-height: 25px;
    }
    .project-image{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    .project-name{
        font-size: 25px;
        line-height: 34px; 
    }
    .project-more{
        font-size: 20px;
        line-height: 27px;  
    }
    .project-item{
        margin-bottom: 80px;
    }
    .see-all-projects-btn{
        margin-bottom: 103px;
        height: 153px;
        font-size: 30px;
        line-height: 41px;
        padding-top: 56px;
        text-align: center;
    }
    .price{
        top: 31px;
        left: 32px;
        font-size: 20px;
        line-height: 27px;
    }
    .services{
        padding-bottom: 120px;
    }
    .services-title{
        font-size: 18px;
        line-height: 25px;
    }
    .service-item{
        width: calc(50% - 5px);  
    }
    .service-image{
        width: 100%;
        height: 315px;
    }
    .service-name{
        font-size: 25px;
        line-height: 34px;
    }
    .service-button{
        padding: 40px;
        height: 153px;
        font-size: 30px;
        line-height: 41px;  
    }
    .review{
        padding-top: 117px;
    }
    .review-item{
       width: calc(50% - 25px);
    }
    .review-title{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;  
    }
    .review-name{
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 25px;
    }
    .review-text{
        font-size: 22px;
        line-height: 30px
    }
}

@media (max-width: 767px) {
    .container{
        width: 100%;
        padding-left: 13px;
        padding-right: 13px;
    }
    .title{
        width: 100%;
        font-size: 30px;
        line-height: 32px;
    }
    .chair-img{
        height: 304px;
        background-image: url(../resources/chair-mobile.png);
        object-fit: contain;
    }
    .chair-text{
        width: 312px;
        font-size: 16px;
        line-height: 22px;
        left: 15px;
        bottom: 15px;
    }
    .about-us-title{
        font-size: 14px;
        line-height: 19px;
    }
    .first-section{
        margin-bottom: 80px;
    }
    .about-us-text{
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }
    .about-us-button{
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
    }
    .about-us{
        margin-bottom: 80px;
    }
    .projects-title{
        font-size: 14px;
        line-height: 19px; 
    }
    .project-image{
        width: 100%;
        height: 250px;
    }
    .project-name{
        font-size: 18px;
        line-height: 25px; 
    }
    .project-more{
        font-size: 16px;
        line-height: 22px; 
    }
    .project-item{
        margin-bottom: 49px;
    }
    .see-all-projects-btn{
        margin-bottom: 144px;
        height: 100px;
        padding-top: 37px;
        font-size: 22px;
        line-height: 30px;
    }
    .price{
        top: 23px;
        left: 24px;
        font-size: 14px;
        line-height: 19px;
    }
    .services{
        padding-bottom: 80px;
    }
    .services-title{
        padding-top: 80px;
        font-size: 14px;
        line-height: 19px;
    }
    .service-item{
        width: 100%;  
    }
    .service-image{
        height: 315px;
    }
    .service-name{
        font-size: 18px;
        line-height: 25px;
    }
    .service-button{
        height: 100px;
        padding: 37px;
        font-size: 22px;
        line-height: 30px; 
    }
    .review{
        padding-top: 80px;
    }
    .review-item{
       width: 100%;
       margin-bottom: 40px;
    }
    .review-title{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 22px; 
    }
    .review-name{
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
    }
    .review-text{
        font-size: 16px;
        line-height: 22px;
    }
    .review-big{
        width: 100%;
    }
}
