h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px; 
    letter-spacing: -0.03em;
    color: #121212;
    margin-bottom: 30px;
    margin-left: 115px ;
    }
.chair p{
    width: 430px;
    height: 81px;
    padding-top: 379px;
    padding-left: 40px;
    padding-right: 680px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color:white;
}
.chair{
    width: 1150px;
    height: 500px;
    background-image: url(../resources/chair.png);
    background-repeat: no-repeat;
    margin-left: 115px;
    margin-bottom: 150px;
}
p{
    font-family: 'Manrope';
    font-style: normal;
}
h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px; 
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
    margin-left: 115px;
    margin-bottom: 30px;
}
.about-us-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #121212;
    box-sizing: border-box;
    margin-left: 115px;
    margin-bottom: 30px;
    width: 1048px;
    height: 366px;
}
button p{
    font-family: 'Manrope';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: white;
text-align: center;
}
button{
    margin-left: 115px;
    background: #AD1818;
    border-radius: 5px;
    width: 255px;
    height: 67px;
    box-sizing: border-box;
}