.logo-name{
    font-weight: 700;
    font-size: 150px;
    line-height: 133px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #FF25C2;
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: center;
}

.descr{
    display: flex;
    justify-content: center;
}

.description-text{
    width: 430px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.description-image{
    width: 100%;
}
