.header-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    color: white;
}

.header-list{
    display: flex;
    gap: 45px;
    justify-content: center;
}

header{
    padding-top: 45px;
    margin-bottom: 60px;
}